<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login In</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/bez.mp4" autoplay muted loop>
    </video>
    <div class="content">
        <a href="/api/Simachev/lab1/tech">СЛУЖБА ПОДДЕРЖКИ</a>
        <div class="page_content">
            <form method="post">
                <div class="input_label">
                    <p>Username:</p>
                </div>

                <input type="text" name='username' placeholder="Username"/>
                <br /><br />
                <div class="input_label">
                    <p>Password:</p>
                </div>

                <input type="password" name="password" placeholder="Password"/>
                <br /><br />
                <p><input type="submit" value="LOGIN"></p>
            </form>
            <a href="/api/Simachev/lab1/reg">SIGN UP FREE NO SMS</a>
        </div>    {{> footer}}

    </div>

</div>
</body>
</html>