<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/hehehe.mp4" autoplay muted loop>
    </video>
    <div class="content">
        {{> menu}}
        {{> footer}}
    </div>
</div>
</body>
<html>


