<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/style.css">
<body>
<div class="full-screen">
    <video src="/Congratulations.mp4" autoplay loop>
    </video>
    <div class="content">
        <a href="main">Menu</a>
        <b> Answer:  {{answer}}</b>
    </div>
</div>
{{> footer}}
</body>

</html>
