<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task 3</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/truck.mp4" autoplay muted loop>
    </video>
    <div class="content">
        <a href="main">Menu</a>
<form action="/api/Simachev/lab1/task3" method="get">
    <label>Name</label><br />
    <input type="text" name="admin" /><br /><br />
    <label>Ms</label><br />
    <input type="text" name="smth" /><br /><br />
    <input type="submit" />
</form>
        {{> footer}}
    </div>
</div>
</body>
</html>

