<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="full-screen">
    <video src="/stick.mp4" autoplay loop>
    </video>
    <div class="content">
        <a href="main">Menu</a>
        <form action="/api/Simachev/lab1/task1" method="get">
            <label>VALUES</label><br />
            <input type="text" name="smth" /><br /><br />
            <input type="submit" />
        </form><br /><br />
        {{> footer}}
    </div>
</div>
</body>
</html>

